*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-image{
    font-family: 'Sacramento', cursive;
    background-image: url('assets/hero.jpg');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: orange;
  }

  .award-container{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .award-container img{
    width: 200px;
  }

  .feature-container{
    background-color: orange;
    display: flex;
  }

  .feature-container img{
    width: 50%;
  }

  .card-container{
    display: flex;
  }
  .card{
    margin: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 500px;
  }

  .card img{
    width: 429px;
    height: 275px;
  }

  .icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-container img{
    width: 30px;
    margin: 0 20px;
  }

  .btn-container{
    background-color: orange;
  }
  .btn-container h2{
    font-family: 'Sacramento', cursive;
  }